/* змінні */
:root{
    --primari-text-color:#434455;
    --title-text-color:#2E2F42;
    --accent-color:#4D5AE5;
    --footer-color:#F4F4FD;
    --filter-color:#E7E9FC;}

    /* ховер, фокус */
.address:hover {color: red;}


/*main  */

/* LOGO */
.span {color:var(--title-text-color);}
.logo {color: var(--accent-color);
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;}

    /* SECTION-1 */

.studio {color: var(--title-text-color);}
.portfolio {color: var(--title-text-color);}
.contacts {color: var(--title-text-color);}
.address-mailto {color: var(--primari-text-color);}
.address-tel {color: var(--primari-text-color);}
/* секція-1 */
.hero title {color: var(--title-text-color);}
.btn {color: var(--title-text-color);
     background-color: var(--accent-color);}
.title {color:violet}
.text {color: coral;}
.name-team{color: green;}
/* footer*/
.text-footer {color:#F4F4FD; 
background: var(--title-text-color)}
.logo-footer {color:#F4F4FD; 
background: var(--title-text-color);}

/* портфоліо */
.link {color:var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 16p;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration:none;
    font-style: normal;}
    .link:hover:focus{color: #404bbf;}
.all {color: var(--filter-color);
background: var(--accent-color);}
.filter {color: var(--accent-color);
background: var(--filter-color);}
.body {font-family: "Roboto", sans-serif;
color: #434455;
background-color: #FFFFFF;}

.list {font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    list-style: none;
}