/* змінні */
:root{
    --primari-text-color:#434455;
    --title-text-color:#2E2F42;
    --accent-color:#4D5AE5;
    --footer-color;#F4F4FD;}
    

.header{color: var(--title-text-color);}
.link{color: rebeccapurple;}
.link:hover{ color: red; }
.link:focus{ color: red; }
/*main  */
.span {color: #4D5AE5;}
.logo {color: var(--title-text-color);}
.studio{color: var(--title-text-color);}
.portfolio{color: var(--title-text-color);}
.contacts{color: var(--title-text-color);}
.address:hover{color: red;}
.address-mailto{color: var(--primari-text-color);}
.address-tel{color: var(--primari-text-color);}
/* секція-1 */
.hero title{color: var(--title-text-color);}
.btn {color: var(--title-text-color);
    background-color: var(--accent-color);}
.title {color:violet}
.text {color: coral;}
.name-team{color: green;}

/* footer*/
.text-footer{color:white; 
background: var(--title-text-color)}
.logo-footer{color:#F4F4FD; 
background: var(--title-text-color);}